# Realm Database
github "realm/realm-cocoa"

# RxSwift
github "ReactiveX/RxSwift" 
github "RxSwiftCommunity/RxSwiftExt"
github "RxSwiftCommunity/RxRealm" 
github "RxSwiftCommunity/RxGesture" 
github "RxSwiftCommunity/RxDataSources" 
github "RxSwiftCommunity/RxOptional" 

# Networking
github "Alamofire/Alamofire"
github "Moya/Moya"

# UI
github "SnapKit/SnapKit" 

