
# carthage update --platform ios --cache-builds

# Realm Database
github "realm/realm-cocoa"

# RxSwift
github "ReactiveX/RxSwift" ~> 5.0.1
github "RxSwiftCommunity/RxSwiftExt"
github "RxSwiftCommunity/RxRealm" 
github "RxSwiftCommunity/RxGesture" ~> 2.2.0
github "RxSwiftCommunity/RxDataSources" 
github "RxSwiftCommunity/RxOptional" ~> 3.6.2

# Networking
github "Alamofire/Alamofire"
github "Moya/Moya"

# UI
github "SnapKit/SnapKit" 


